:root {
    --color-e3e: #E3E3ED;
    --color-575: #575361;
    --color-857: #857E95;
    --color-fbf: #FBFAFF;
    --color-c1b: #C1B2FA;
    --color-f3f: #F3F0FF;
    --color-7a5: #7A5FEC;
    --color-746: #746E82;
    --color-ebe: #EBE6FF;
    --color-fff: #FFFFFF;
    --color-eae: #EAE2FD;
    --color-e9e: #E9E3F8;
    --color-ac9: #AC96E4;
    --color-794: #794FED;
    --color-989: #9892A6;
    --color-e36: #E36363;
    --color-7c3: #7C3AED;
    --color-daf: #DAF2D9;
    --color-73b: #73B172;
    --color-f2d: #F2D9D9;
    --color-e36: #E36363;

    --color-rgb-3a6: 58, 97, 237;
}