* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html, body {
    font-size: 1.6rem;
    font-family: 'Inter';
    min-height: 100vh;
    line-height: 130%;
    background-color: var(--color-fbf);
}